@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        visibility: hidden;
    }

    #printSection,
    #printSection * {
        visibility: visible;
    }

    #printSection {
        position: absolute;
        left: 0;
        top: 0;
    }

    .printContent {
        flex-direction: row;
    }

    .printContent>.grid-items {
        width: 33.33%
    }
}

.grid-items {
    margin-bottom: 24px;
    word-wrap: inherit;
}

@media (max-width: 600px) {
    .grid-items {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .grid-items {
        width: 50%;
    }
}

@media (min-width: 1025px) {
    .grid-items {
        width: 33.33%;
    }
}